<div class="container">
    <div class="row">
        <div class="col-md-6 text-center">
            <p class="arrow pt-2" routerLink="/dashboard"> ⬅️ </p>
            <h3 class="title pt-2">{{moviedata.title}}</h3>
            <p class="rating pt-2">Rating: {{moviedata.vote_average}}/10</p>
            <p class="overview pt-2">{{moviedata.overview}}</p>
            <p class="releasedate pt-2">Release Date:     {{moviedata.release_date}}</p>
            <p class="originallanguage pt-2">Original Language:  {{moviedata.original_language}}</p>
        </div>
        <div class="col-md-6 text-center">
            <img src="https://image.tmdb.org/t/p/w500{{moviedata.poster_path}}" alt="">
        </div>
    </div>
</div>