<div class="container">
    <div class="row">
        <div class="col-md-6 text-center">
     <p routerLink="/dashboard"> ⬅️    </p>
    <h3 class="title">{{moviedata.title}}</h3>
    <p class="rating">{{moviedata.vote_average}}/10</p>
    <p class="overview">{{moviedata.overview}}</p>
    <p class="releasedate">{{moviedata.release_date}}</p>
    <p class="originallanguage">{{moviedata.original_language}}</p>
        </div>
        <div class="col-md-6 text-center">
<img src="https://image.tmdb.org/t/p/w500{{moviedata.poster_path}}" alt="">
        </div>
    </div>
</div>